/* fixed social*/

.pri-bg-blue{
    background: #2e4db9;
}
#fixed-social {
    position: fixed;
    top: 255px;
    z-index: 999;
 }
 
 #fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
     line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
 }
 #fixed-social a:hover>span{
    visibility: visible;
   left: 41px;
   opacity: 1;
 } 
 #fixed-social a span {
     line-height: 40px;
     left: 60px;
     position: absolute;
     text-align: center;
     width: 120px;
     visibility: hidden;
     transition-duration: 0.5s;
     z-index: 1;
     opacity: 0;
 }
  .fixed-facebook{
      background-color: #00AAE5;
  }
  .fixed-facebook span{
     background-color: #00AAE5;
  }
  .fixed-twitter{
     background-color: #7D3895;
 
  }
  .fixed-twitter span{
      background-color: #7D3895;
  }
  .fixed-gplus{
     background-color: #00AF54;
 
  }
  .fixed-gplus span{
      background-color: #00AF54;
  }
  .fixed-linkedin{
     background-color: #0977b6;
 
  }
  .fixed-linkedin span{
      background-color: #0977b6;
  }
  .fixed-instagrem{
     background-color: #ED2B29;
 
  }
  .fixed-instagrem span{
      background-color: #ED2B29;
  }
  .fixed-tumblr{
     background-color: #45c655;
 
  }
  .fixed-tumblr span{
      background-color: #45c655;
  }
 /*end fixed social*/

 .marquee{
     color: #000;
     font-weight: bold;
     font-size: 18px;
     text-transform: capitalize;
 }
 .marq-link{
    color: rgb(202, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
 }
 #discover-more {
    width: 0px;
    height: 0px;
    background: #000;
    position: absolute;
    top: -160px;
}
 .example-result {
    width: 100%;
    /* background: #f2f2f2; */
    background: linear-gradient(90deg, rgba(0,99,255,1) 30%, rgba(46,77,185,1) 100%);
    /* border: 1px dashed #ccc; */
    /* border-left: 4px solid #2e4db9; */
    /* border-right: 4px solid #2e4db9; */
    text-align: left;
    font-weight: bold;
    margin: 60px 0 0 0;
    padding: 22px 10px 22px 10px;
    clear: both;
}
.example-result2 {
    width: 100%;
    background: #f2f2f2;
    /* background: linear-gradient(90deg, rgba(0,99,255,1) 30%, rgba(46,77,185,1) 100%); */
    /* border: 1px dashed #ccc; */
    /* border-left: 4px solid #2e4db9; */
    /* border-right: 4px solid #2e4db9; */
    text-align: left;
    font-weight: bold;
    /* margin: 60px 0 0 0; */
    padding: 18px 10px 18px 10px;
    clear: both;
    /* position: sticky; */
    float: right;
    /* top: 120px; */
}
  #myFeedback {
    position: fixed;
    height: auto;
    top: 321px;
    right: -77px;
    z-index: 999;
    width: 195px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: rotate(-90deg);
}
  .request {
    background-color: #2e4db9;
    color: white;
    padding: 10px 11px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: ease-in 0.3s;
    border: 1px solid #2e4db9;
  }
  .request:hover {
    background-color: #fff;
    color: #2e4db9;
    border: 1px solid #2e4db9;
  }
  .feedback {
    background-color: #ff2623;
    color: white;
    padding: 10px 11px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: ease-in 0.3s;
    border: 1px solid #ff2623;
  }
  .feedback:hover {
    background-color: #fff;
    color: #ff2623;
    border: 1px solid #ff2623;
  }

  .modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;} 
.modal-dialog-slideout .modal-header h5 {float:left;}
 
#exper-counter{
    /* background: #2e4db9; */
    background: linear-gradient(90deg, rgba(0,99,255,1) 30%, rgba(46,77,185,1) 100%);
    padding-bottom: 100px;
}
#iso-pdf{
    margin-top: -114px;
}
.counter { padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px;color: #fff; font-weight: 600;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 18px;color: #fff; font-weight: normal;  margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }

.btn-custom{
    border: 1px solid #2e4db9;
    background: #fff;
    color: #2e4db9;
    font-weight: 600;
}
.btn-custom:hover{
    border: 1px solid #fff;
    background: #2e4db9;
    color: #fff;
}
.btn-custom2{
    border: 1px solid #fff;
    background: #2e4db9;
    color: #fff;
}
.btn-custom2:hover{
    border: 1px solid #2e4db9;
    background: #fff;
    color: #2e4db9;
}
.card{
    box-shadow: 0px 7px 14px rgba(0, 0, 0 ,0.2);
    border: none;
    /* padding-bottom: 12px; */
    transition: ease-in 0.3s;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
}
.card-title{
    font-weight: bold;
    transition: ease-in 0.3s;
    font-size: 20px;
    color:#fff;
    text-shadow: 3px 2px 1px rgba(0, 0, 0 ,0.39);
}
.card-title2{
    font-weight: bold;
    transition: ease-in 0.3s;
    font-size: 20px;
    color: #2e4db9;
    margin-bottom: 10px;
}
.card:hover{
    box-shadow: 0px 7px 14px rgba(0, 0, 0 ,0.5);
    /* border: 2px solid #fff; */
}
.card:hover .bg-trans{
    background: rgba(0, 0, 0, 0.8);
    transition: ease-in 0.3s;
}
.card-text{
    color:#fff;
    text-shadow: 3px 2px 1px rgba(0, 0, 0 ,0.39);
}
.card-text2{
    color: #2c2d3e;
}
/* .card:hover .card-title{
    color:#2e4db9;
} */
.video-img{
    border: 14px solid #e6ebff;
}

#delivery-part {
    position: relative;
    padding-top: 90px;
    padding-bottom: 0px;
}
#vision-part {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}
.client-stsfacn{
    width: 100%;
    height: auto;
}
.client-stsfacn ul{
    width: 100%;
    height: auto;
    /* list-style-image: url('../images/circle.png'); */
}
.client-stsfacn ul li{
    display: flex;
    align-items: center;
    margin:30px 0
}
.client-stsfacn ul li p{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 16px;
    color: #2c2d3e;
    font-weight: 600;
}
.client-stsfacn ul li img{
    width: 80px;
    height: auto;
    margin-right: 15px;
    transition: 0.3s;
}
.client-stsfacn ul li img:hover{
    transform: scale(1.1);
}
.align-cli1{
    padding-left: 50px;
}
.align-cli2{
    padding-left: 50px;
}
.our-mission-round-img{
    display: flex;
    justify-content: flex-end;
}
.client-stsfacn2{
    width: 100%;
    height: auto;
}
.client-stsfacn2 ul{
    width: 100%;
    height: auto;
    list-style-image: url('../images/circle-white.png');
}
.client-stsfacn2 ul li{
    padding: 10px;
}
.infographic{
    width: 98%;
    height: auto;
}
.core-bg{
    background-image:url(../images/bg-pattern.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-mission-img{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: -19px -13px 0px #2e4db9;
    transition: ease-in 0.3s;
}
.our-mission-img img{
    width: 100%;
    height: 100%;
    transition: ease-in 0.5s;
}
.our-mission-img:hover{
    box-shadow: -19px -13px 0px #FF9B25;
}
.our-mission-img img:hover{
    box-shadow: -19px -13px 0px #FF9B25;
    transform: scale(1.1);
}
#page-banner::before {
    background-image: none!important;
}
.testing-title{
    font-size: 18px;
    color: #2c2d3e;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 15px 0;
}
.ul-li-style ul{
    width: 100%;
    height: auto;
    list-style-image: url('../images/circle.png');
}
.ul-li-style ul li{
    padding: 8px 10px;
    transition: 0.4s;
    /* cursor: pointer; */
    margin-left: 17px;
}
.ul-li-style2 ul{
    width: 100%;
    height: auto;
    list-style-image: url('../images/circle.png');
}
.ul-li-style2 ul li{
    padding: 8px 10px;
    transition: 0.4s;
    /* cursor: pointer; */
    margin-left: 17px;
}
.ul-li-style ul li:hover{
    padding-left: 15px;
    font-weight: 600;
}
/* .ul-li-style ul li:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
} */
.small-info{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0 ,0.1);
    border-radius: 5px;
    background: #f7f8ff;
    cursor: pointer;
    transition: 0.4s;
}
.small-info p{
    width: 100%;
    height: auto;
    line-height: 24px;
    transition: 0.4s;
}
.small-info-title{
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.small-info:hover{
    background: #2e4db9;
    color: #fff!important;
}
.small-info p:hover{
    color: #fff!important;
}
.testing-subtitle{
    font-size: 16px!important;
    color: #2c2d3e!important;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px!important;
}
.service-head{
    background: #2e4db9;
    padding: 100px 0;
    text-align: left;
}
.water-box{
    width: 100%;
    height: 110px;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    transition: ease-in 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0 ,0.04);
    color: #53545a;
    background: #fff;
}
.water-box:hover{
    background: #2e4db9;
    color: #fff;
}
.water-bg{
    background-image:url(../images/bg-pattern.jpg) ;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.audit-main{
    width: 100%;
    min-height: 328px;
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    transition: ease-in 0.3s;
    margin: 10px 0;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0 ,0.04);
    color: #53545a;
    background: #fff;
}
.audit-main p{
    color: #53545a;
}
.audit-main-icon{
    width: 80px;
    height: 80px;
    background: #00AAE5;
    border-radius: 100%;
}
.audit-main:hover{
    background: #2e4db9;
}
.audit-main:hover p{
    color:#fff;
}
.audit-main:hover .testing-subtitle{
    color:#fff!important;
}
.audit-main:hover .audit-main-icon{
    background: #fff;
}
.cons-text p{
    font-size: 14px;
    color: #646567;
    margin-bottom: 5px;
    line-height: 23px;
}
#slider-part::before {
    background-image: none!important;
}
.pdf-icon{
    background: #fff;
    width: 100px;
    height: 100px;
    margin-top: -67px;
    border-radius: 100%;
    border: 4px solid #2e4db8;
}
.service-bg-food{
    background-image: url(../images/bg/ser-food.jpg);
}
.service-bg-water{
    background-image: url(../images/bg/ser-water.jpg);
}
.service-bg-soil{
    background-image: url(../images/bg/ser-soil.jpg);
}
.service-bg-build{
    background-image: url(../images/bg/ser-building.jpg);
}
.service-bg-audit{
    background-image: url(../images/bg/ser-audit.jpg);
}
.service-bg-consult{
    background-image: url(../images/bg/ser-consultancy.jpg);
}
.bg-trans{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
		

.quick-menu {
    width: 260px;
    padding: 13px 10px;
    position: sticky;
    float: right;
    top: 120px;
    /* border-radius: 5px; */
    background-color: #fff;
    text-align: center;
    z-index: 1;
    line-height: 37px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0 ,0.1);
}
.quick-menu ul{
    width: 100%;
    height: auto;
}
.quick-menu ul li{
    width: 100%;
    height: auto;
}
.quick-menu ul li a{
    width: 100%;
    height: auto;
    color: #2c2d3e;
    font-weight: 600;
    padding: 5px 20px;
    font-size: 16px;
}
.quick-menu ul li:hover{
    background-color: #f2f2f2;
}
.active-quiklink{
    color: #fff!important;
    background-color: #2e4db8;
}
.address p{
    font-size: 14px;
}
/*-- Full Width Gradient CTA */
.as-cta-full-gradient {
	background: rgb(0,99,255);
    background: linear-gradient(90deg, rgba(0,99,255,1) 30%, rgba(46,77,185,1) 100%);
}
.as-cta-full-gradient .as-cta-desc h2,
.as-cta-full-gradient .as-cta-desc p {
	color: #fff;
}
.card-star{
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    /* box-shadow: 0px 0px 19px rgba(0, 0, 0 ,0.1); */
    border: 2px solid #eaeaea;
    padding: 12px;
    transition: ease-in 0.3s;
}
.checked {
    color: orange;
  }
  .star-heading{
      font-size: 14px;
  }
  .navbar-brand img{
      height: 52px;
  }
  .btn-circle {
    top: -12px;
    right: -9px;
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position: absolute;
    z-index: 99;
}
.faq-card{
    border: none;
    background: transparent;
    margin-bottom: 15px;
    padding-bottom: 0;
    border: none!important;
    box-shadow: none;
}
.mission-content{
    width: 100%;
    min-height: 310px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 16px rgba(0, 0, 0 ,0.2);
    border: 2px solid #eaeaea;
    padding-bottom: 12px;
    transition: ease-in 0.3s;
}
.mission-content img{
    width: 100px;
    height: auto;
    transition: ease-in 0.3s;
}
.mission-content:hover{
    color: #fff!important;
    background-color: #2e4db8;
}
.mission-content:hover p{
    color: #fff!important;
}
.mission-content:hover img {
    transform: scale(1.1);
}
.singel-brand p{
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}
.box-shadow-cus{
    box-shadow: 0px 0px 8px rgba(0, 0, 0 ,0.1);
}
.ser-flex-center{
    display: flex;
    align-self: center;
}
.ser-img {
    width: 100%;
    min-height: auto;
}
.ser-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.rev-class{
    color: #2c2d3e!important;
}
.map{
    width: calc(100% - 350px);
    float: left;
}
.c-form{
    width: 350px;
    background: #2e4cb828;
    float: left;
    padding: 40px;
}
.subactive{
    background: #ddd;
   }

   .singel-blog .blog-thum {
    border-radius: 16px;
}

.wcu-mr-r{
    margin-right: -20px;
}
.wcu-mr-l{
    margin-left: -20px;
}
.singel-brand1{
    width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.singel-brand1 img{
    width: 100%;
    height: auto;
}
.de-color{color: #a5a5a5;}
.pqat-color{color: #ed7d31;}
.cfsc-color{color: #4472c4;}
.qtt-color{color: #ffc000;}
.sat-color{color: #5b9bd5;}
.uocp-color{color: #70ad47;}

.table-bordered thead th {
    font-size: 14px;
    padding: 15px 6px;
    border-color: #e8f4fc;
}
.table-bordered td{
    border: 1px solid #dee2e6;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}
.caption{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
}
.call-to{
    background: rgb(0,99,255);
    background: linear-gradient(90deg, rgba(0,99,255,1) 30%, rgba(46,77,185,1) 100%);
}
.orange-section{
    background: #eb7b30;
    border-radius: 16px;
    display: flex;
    align-items: center;
    height: 123px;
    justify-content: center;
    padding: 10px;
}
.orange-section p{
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0!important;
}
.yellow-section{
    background: #ffc000;
    border-radius: 16px;
    display: flex;
    align-items: center;
    height: 180px;
    padding: 30px;
}
.yellow-section p, .light-blue-section p{
    width: 100%;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0!important;
}
.light-blue-section{
    background: #00a2ff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    height: 180px;
    padding: 10px;
    padding: 30px;
}
.conter-img{
    width: 90px;
    height: 90px;
}
@media (max-width: 1024px) {
    .orange-section{
        height: auto;
        padding: 20px;
    }
    .orange-section p{
        line-height: 60px;
    }
    .yellow-section{
        padding: 10px;
    }
    .yellow-section p, .light-blue-section p {
        font-size: 15px;
    }
}
@media (max-width: 800px) {
    .orange-section p {
        font-size: 37px;
    }
    .yellow-section p, .light-blue-section p {
        font-size: 20px;
    }
    .quick-menu {
        display: contents;
    }
    .s-top-pd{
        padding-top: 50px;
    }
    .ser-col-rev{
        display: flex;
        flex-direction:column-reverse;
    }
    .map{
        width: 100%;
        float: left;
    }
    .c-form{
        width: 100%;
        background: #2e4cb828;
        float: left;
        padding: 40px;
    }
    .wcu-mr-r{
        margin-right: 0px;
    }
    .wcu-mr-l{
        margin-left: 0px;
    }
}
@media (max-width: 767px) {
    
   
	.as-cta-full-gradient {
		text-align: center;
	}
	.as-cta-full-gradient .as-cta-btn {
		margin-top: 20px;
    }
    .slider-content{
        padding-left: 35px;
        padding-right: 35px;
        text-align: center;
    }
    .singel-services .services-cont {
        padding-left: 35px;
        padding-right: 35px;
        text-align: center;
    }
    .section-title p {
        padding-left: 35px;
        padding-right: 35px;
    }
    .about-content {
        padding-left: 35px;
        padding-right: 35px;
    }
    .as-cta-full-gradient .as-cta-desc p {
        padding-left: 35px;
        padding-right: 35px;
    }
    .p-lr-35{
        padding-left: 35px;
        padding-right: 35px;
    }
    .t-center{
        text-align: center;
    }
    .navbar-brand img {
        height: 36px;
    }
}
/*-- Full Width Gradient CTA */

